body {
    background-color: #f5f5f5;
    color: #555;
    font-size: 16px;
    border: 0;
    outline: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0 16px;
}

a, a:hover, a:active, a:visited {
    color: #555;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    width: 800px;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 12px 0 0;
}

footer {
    padding: 12px 0;
    text-align: center;
}

footer span {
    color: #888;
    font-size: 14px;
}

.main {
    margin-top: -1px;
}

.title {
    margin: 0 8px;
}

.title span {
    font-size: 32px;
}

nav {
    margin: 12px 0 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    float: left;
    margin-left: 8px;
}

nav ul li {
    /*margin-right: 12px;*/
}

nav ul li a {
    display: block;
    /*font-weight: 600;*/
    padding: 12px 16px;

    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a.active {
    background-color: #ff9800;
    color: #fff;
}

nav ul li a.active:hover {
    text-decoration: none;
}

nav .user-nav {
    float: right;
    margin: 12px 0;
}

nav .user-nav span {
    margin-right: 12px;
}

nav ul li {
    float: left;
}

.clear {
    clear: both;
}

.not-found {
    margin: 80px auto 0;
    text-align: center;
}

.not-found span {
    font-size: 24px;
}

.content {
    background-color: #fff;
    border-top: 4px solid #ff9800;
    padding: 18px;
}

.content h2 {
    font-size: 20px;
}

.content article {
    border-top: 1px solid #ddd;
    padding-top: 18px;
}

.joke-list {
    margin: 0 8px;
}

.joke-list li {
    border-bottom: 1px solid #eee;
}

.joke-list li a {
    display: block;
    padding: 8px 0;
}

.joke-list li a span {
    display: inline-block;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
}

.joke-list li a span.joke-summary {
    padding-left: 12px;
    width: 560px;
    text-overflow: ellipsis;
}